* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
    width: 100%;
    min-height: 80vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.con-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.con-sec .card{
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}
.con-sec .card img{
    width: 100%;
    height: auto;
}


.con1{
    width: 100%;
    min-height: 50vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.con-sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.con-sec1 .card1{
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}
.con-sec1 .card1 img{
    width: 100%;
    height: auto;
}
.con-sec .card h2{
    margin: 15px 0px;
    font-size: 28px;
    color: #07497e;
    font-family: sans-serif ;
}
.con-sec .card p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.nit{
    width: 100%;
    min-height: 50vh;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
.niti{
    display: flex;
    justify-content: center;
    text-align: center;
}
.nitis{
      flex: 5;
    margin: 20px 20px;
}
@media screen and (max-width: 768px){
    .con-sec {
        flex-direction: column;
    }
    .nav-list{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
        width: 50%;
    }
    .con-sec1{
        flex-direction: column;
    }
    .gmap{
        flex-direction: column;
    }
    .box-main{
        flex-direction: column;
    }
    .niti{
        flex-direction: column;
    }
};


.logo {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo img {
    width: 50%;
    margin-top: 2%;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    height:10vh;
    justify-content: space-evenly;
    background-color: white;
    max-width: 100%;
    text-align: center;
}
.background{
    width: 100%;
    padding: 1%;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 70%;
    flex: auto;
}

.nav-list li {
    list-style: none;
    padding: 3%;
    font-family: sans-serif ;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    text-decoration: none;
    color: grey;
}


.background {
    background: rgba(12, 70, 158, 0.7) url(copy1.jpg);
    background-size: cover;
    background-blend-mode: darken;
    
    display: flex;
    max-width: 100%;

}

.firstsection {
    height: 50%;
    max-width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: center;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firsthalf {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondhalf {
    width: 30%;
}

.secondhalf img {
    width: 70%;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 35px;
    margin: 10px 10px;
    padding: 5px;
    text-align: center;
}

.text-small {
    font-size: 17px;
    margin: 10px 10px;
    padding: 5px;
    text-align: center;
}


.serviceheading {
    text-align: center;
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px solid white;
    border-radius: 30px;
    min-width: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.question {
    padding-top: 100px;
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

.number {
    color: red;
}

.map {
    align-items: center;
    justify-content: center;
}
.gmap{
    display: flex;
    
}
.visit {
    text-align: center;
    margin-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    margin-bottom: 2%;
}



body {
    background-color: #ffffff;
}

.wrapper {
    width: 100%;
    display: flex;    
}

img {
    width: 100%;
}
.backgroundimg {
    opacity: 0.8;
    width: 33%;
    margin-left: 33%;

}

.cont {
    text-align: center;
    text-shadow: 2px 5px 10px grey;
    font-size: 30px;
    color: red;

}

.we {
    font-size: 20px;
    color: grey;
    margin-top: 4%;
}

.lets {
    font-size: 40px;
    margin: auto;
    max-width: 80%;
    padding-bottom: 15px;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

input[type=text],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.we {
    text-align: center;
}
